icode/assets/fsaverage/bem/fsaverage-vol-5-src.fif
icode/assets/fsaverage/bem/fsaverage-5120-5120-5120-bem-sol.fif
icode-2/assets/fsaverage/bem/fsaverage-5120-5120-5120-bem-sol.fif
icode-2/assets/fsaverage/bem/fsaverage-5120-5120-5120-bem.fif
icode-2/assets/fsaverage/bem/fsaverage-fiducials.fif
icode-2/assets/fsaverage/bem/fsaverage-head-dense.fif
icode-2/assets/fsaverage/bem/fsaverage-head-medium.fif
icode-2/assets/fsaverage/bem/fsaverage-head.fif
icode-2/assets/fsaverage/bem/fsaverage-ico-5-src.fif
icode-2/assets/fsaverage/bem/fsaverage-inner_skull-bem.fif
icode-2/assets/fsaverage/bem/fsaverage-trans.fif
icode-2/assets/fsaverage/bem/fsaverage-vol-5-src.fif
icode-2/assets/fsaverage/bem/inner_skull.surf
icode-2/assets/fsaverage/bem/outer_skin.surf
icode-2/assets/fsaverage/bem/outer_skull.surf
icode-2/assets/fsaverage/label/lh.aparc.a2005s.annot
icode-2/assets/fsaverage/label/lh.aparc.a2009s.annot
icode-2/assets/fsaverage/label/lh.aparc.annot
icode-2/assets/fsaverage/label/lh.aparc.label
icode-2/assets/fsaverage/label/lh.aparc_sub.annot
icode-2/assets/fsaverage/label/lh.BA1.label
icode-2/assets/fsaverage/label/lh.BA2.label
icode-2/assets/fsaverage/label/lh.BA3a.label
icode-2/assets/fsaverage/label/lh.BA3b.label
icode-2/assets/fsaverage/label/lh.BA44.label
icode-2/assets/fsaverage/label/lh.BA45.label
icode-2/assets/fsaverage/label/lh.BA4a.label
icode-2/assets/fsaverage/label/lh.BA4p.label
icode-2/assets/fsaverage/label/lh.BA6.label
icode-2/assets/fsaverage/label/lh.cortex.label
icode-2/assets/fsaverage/label/lh.entorhinal.label
icode-2/assets/fsaverage/label/lh.HCPMMP1.annot
icode-2/assets/fsaverage/label/lh.HCPMMP1_combined.annot
icode-2/assets/fsaverage/label/lh.Medial_wall.label
icode-2/assets/fsaverage/label/lh.MT.label
icode-2/assets/fsaverage/label/lh.oasis.chubs.annot
icode-2/assets/fsaverage/label/lh.PALS_B12.labels.gii
icode-2/assets/fsaverage/label/lh.PALS_B12_Brodmann.annot
icode-2/assets/fsaverage/label/lh.PALS_B12_Lobes.annot
icode-2/assets/fsaverage/label/lh.PALS_B12_OrbitoFrontal.annot
icode-2/assets/fsaverage/label/lh.PALS_B12_Visuotopic.annot
icode-2/assets/fsaverage/label/lh.V1.label
icode-2/assets/fsaverage/label/lh.V2.label
icode-2/assets/fsaverage/label/lh.Yeo2011_17Networks_N1000.annot
icode-2/assets/fsaverage/label/lh.Yeo2011_7Networks_N1000.annot
icode-2/assets/fsaverage/label/rh.aparc.a2005s.annot
icode-2/assets/fsaverage/label/rh.aparc.a2009s.annot
icode-2/assets/fsaverage/label/rh.aparc.annot
icode-2/assets/fsaverage/label/rh.aparc.label
icode-2/assets/fsaverage/label/rh.aparc_sub.annot
icode-2/assets/fsaverage/label/rh.BA1.label
icode-2/assets/fsaverage/label/rh.BA2.label
icode-2/assets/fsaverage/label/rh.BA3a.label
icode-2/assets/fsaverage/label/rh.BA3b.label
icode-2/assets/fsaverage/label/rh.BA44.label
icode-2/assets/fsaverage/label/rh.BA45.label
icode-2/assets/fsaverage/label/rh.BA4a.label
icode-2/assets/fsaverage/label/rh.BA4p.label
icode-2/assets/fsaverage/label/rh.BA6.label
icode-2/assets/fsaverage/label/rh.cortex.label
icode-2/assets/fsaverage/label/rh.entorhinal.label
icode-2/assets/fsaverage/label/rh.HCPMMP1.annot
icode-2/assets/fsaverage/label/rh.HCPMMP1_combined.annot
icode-2/assets/fsaverage/label/rh.Medial_wall.label
icode-2/assets/fsaverage/label/rh.MT.label
icode-2/assets/fsaverage/label/rh.oasis.chubs.annot
icode-2/assets/fsaverage/label/rh.PALS_B12.labels.gii
icode-2/assets/fsaverage/label/rh.PALS_B12_Brodmann.annot
icode-2/assets/fsaverage/label/rh.PALS_B12_Lobes.annot
icode-2/assets/fsaverage/label/rh.PALS_B12_OrbitoFrontal.annot
icode-2/assets/fsaverage/label/rh.PALS_B12_Visuotopic.annot
icode-2/assets/fsaverage/label/rh.V1.label
icode-2/assets/fsaverage/label/rh.V2.label
icode-2/assets/fsaverage/label/rh.Yeo2011_17Networks_N1000.annot
icode-2/assets/fsaverage/label/rh.Yeo2011_7Networks_N1000.annot
icode-2/assets/fsaverage/mri.2mm/aseg.mgz
icode-2/assets/fsaverage/mri.2mm/brain.mgz
icode-2/assets/fsaverage/mri.2mm/brainmask.mgz
icode-2/assets/fsaverage/mri.2mm/mni305.cor.mgz
icode-2/assets/fsaverage/mri.2mm/orig.mgz
icode-2/assets/fsaverage/mri.2mm/README
icode-2/assets/fsaverage/mri.2mm/reg.2mm.dat
icode-2/assets/fsaverage/mri.2mm/reg.2mm.mni152.dat
icode-2/assets/fsaverage/mri.2mm/subcort.mask.mgz
icode-2/assets/fsaverage/mri.2mm/subcort.prob.mgz
icode-2/assets/fsaverage/mri.2mm/T1.mgz
icode-2/assets/fsaverage/mri/aparc+aseg.mgz
icode-2/assets/fsaverage/mri/aparc.a2005s+aseg.mgz
icode-2/assets/fsaverage/mri/aparc.a2009s+aseg.mgz
icode-2/assets/fsaverage/mri/aseg.mgz
icode-2/assets/fsaverage/mri/brain.mgz
icode-2/assets/fsaverage/mri/brainmask.mgz
icode-2/assets/fsaverage/mri/lh.ribbon.mgz
icode-2/assets/fsaverage/mri/mni305.cor.mgz
icode-2/assets/fsaverage/mri/orig.mgz
icode-2/assets/fsaverage/mri/p.aseg.mgz
icode-2/assets/fsaverage/mri/rh.ribbon.mgz
icode-2/assets/fsaverage/mri/ribbon.mgz
icode-2/assets/fsaverage/mri/seghead.mgz
icode-2/assets/fsaverage/mri/subcort.prob.log
icode-2/assets/fsaverage/mri/subcort.prob.mgz
icode-2/assets/fsaverage/mri/T1.mgz
icode-2/assets/fsaverage/mri/transforms/reg.mni152.2mm.dat
icode-2/assets/fsaverage/mri/transforms/talairach.xfm
icode-2/assets/fsaverage/scripts/build-stamp.txt
icode-2/assets/fsaverage/scripts/csurfdir
icode-2/assets/fsaverage/scripts/make_average_surface.log
icode-2/assets/fsaverage/scripts/make_average_volume.log
icode-2/assets/fsaverage/scripts/mkheadsurf.log
icode-2/assets/fsaverage/scripts/mris_inflate.log
icode-2/assets/fsaverage/scripts/mris_inflate_lh.log
icode-2/assets/fsaverage/scripts/mris_inflate_rh.log
icode-2/assets/fsaverage/scripts/recon-all-status.log
icode-2/assets/fsaverage/scripts/recon-all.cmd
icode-2/assets/fsaverage/scripts/recon-all.done
icode-2/assets/fsaverage/scripts/recon-all.env
icode-2/assets/fsaverage/scripts/recon-all.env.bak
icode-2/assets/fsaverage/scripts/recon-all.local-copy
icode-2/assets/fsaverage/scripts/recon-all.log
icode-2/assets/fsaverage/surf/lh.area
icode-2/assets/fsaverage/surf/lh.area.seghead
icode-2/assets/fsaverage/surf/lh.avg_curv
icode-2/assets/fsaverage/surf/lh.avg_sulc
icode-2/assets/fsaverage/surf/lh.avg_thickness
icode-2/assets/fsaverage/surf/lh.cortex.patch.3d
icode-2/assets/fsaverage/surf/lh.cortex.patch.flat
icode-2/assets/fsaverage/surf/lh.curv
icode-2/assets/fsaverage/surf/lh.curv.seghead
icode-2/assets/fsaverage/surf/lh.fsaverage_sym.sphere.reg
icode-2/assets/fsaverage/surf/lh.inflated
icode-2/assets/fsaverage/surf/lh.inflated.H
icode-2/assets/fsaverage/surf/lh.inflated.K
icode-2/assets/fsaverage/surf/lh.inflated_avg
icode-2/assets/fsaverage/surf/lh.inflated_pre
icode-2/assets/fsaverage/surf/lh.orig
icode-2/assets/fsaverage/surf/lh.orig.avg.area.mgh
icode-2/assets/fsaverage/surf/lh.orig_avg
icode-2/assets/fsaverage/surf/lh.pial
icode-2/assets/fsaverage/surf/lh.pial.avg.area.mgh
icode-2/assets/fsaverage/surf/lh.pial_avg
icode-2/assets/fsaverage/surf/lh.pial_semi_inflated
icode-2/assets/fsaverage/surf/lh.seghead
icode-2/assets/fsaverage/surf/lh.seghead.inflated
icode-2/assets/fsaverage/surf/lh.smoothwm
icode-2/assets/fsaverage/surf/lh.sphere
icode-2/assets/fsaverage/surf/lh.sphere.left_right
icode-2/assets/fsaverage/surf/lh.sphere.reg
icode-2/assets/fsaverage/surf/lh.sphere.reg.avg
icode-2/assets/fsaverage/surf/lh.sulc
icode-2/assets/fsaverage/surf/lh.sulc.seghead
icode-2/assets/fsaverage/surf/lh.thickness
icode-2/assets/fsaverage/surf/lh.white
icode-2/assets/fsaverage/surf/lh.white.avg.area.mgh
icode-2/assets/fsaverage/surf/lh.white_avg
icode-2/assets/fsaverage/surf/lh.white_avg.H
icode-2/assets/fsaverage/surf/lh.white_avg.K
icode-2/assets/fsaverage/surf/mris_preproc.surface.lh.log
icode-2/assets/fsaverage/surf/mris_preproc.surface.rh.log
icode-2/assets/fsaverage/surf/rh.area
icode-2/assets/fsaverage/surf/rh.avg_curv
icode-2/assets/fsaverage/surf/rh.avg_sulc
icode-2/assets/fsaverage/surf/rh.avg_thickness
icode-2/assets/fsaverage/surf/rh.cortex.patch.3d
icode-2/assets/fsaverage/surf/rh.cortex.patch.flat
icode-2/assets/fsaverage/surf/rh.curv
icode-2/assets/fsaverage/surf/rh.fsaverage_sym.sphere.reg
icode-2/assets/fsaverage/surf/rh.inflated
icode-2/assets/fsaverage/surf/rh.inflated.H
icode-2/assets/fsaverage/surf/rh.inflated.K
icode-2/assets/fsaverage/surf/rh.inflated_avg
icode-2/assets/fsaverage/surf/rh.inflated_pre
icode-2/assets/fsaverage/surf/rh.orig
icode-2/assets/fsaverage/surf/rh.orig.avg.area.mgh
icode-2/assets/fsaverage/surf/rh.orig_avg
icode-2/assets/fsaverage/surf/rh.pial
icode-2/assets/fsaverage/surf/rh.pial.avg.area.mgh
icode-2/assets/fsaverage/surf/rh.pial_avg
icode-2/assets/fsaverage/surf/rh.pial_semi_inflated
icode-2/assets/fsaverage/surf/rh.smoothwm
icode-2/assets/fsaverage/surf/rh.sphere
icode-2/assets/fsaverage/surf/rh.sphere.left_right
icode-2/assets/fsaverage/surf/rh.sphere.reg
icode-2/assets/fsaverage/surf/rh.sphere.reg.avg
icode-2/assets/fsaverage/surf/rh.sulc
icode-2/assets/fsaverage/surf/rh.thickness
icode-2/assets/fsaverage/surf/rh.white
icode-2/assets/fsaverage/surf/rh.white.avg.area.mgh
icode-2/assets/fsaverage/surf/rh.white_avg
icode-2/assets/fsaverage/surf/rh.white_avg.H
icode-2/assets/fsaverage/surf/rh.white_avg.K
icode/outputs/fMRI/mprage_hist.html
icode/outputs/fMRI/mprage_curve.html
icode/outputs/fMRI/mprage_activation.html
icode/outputs/fMRI/activation_summary.json
icode-2/outputs/EEG功能连接/交互式EEG脑网络三维图/data(1)_connectivity_map.html
icode-2/outputs/EEG功能连接/功能连接强度矩阵/data(1)_fc_matrix.html
icode-2/outputs/EEG功能连接/网络核心枢纽排名图/data(1)_fc_hubs.html
icode-2/outputs/EEG功能连接/距离-强度相关性散点图/data(1)_fc_distance_corr.html
icode-2/outputs/EEG功能连接/连接强度分布直方图/data(1)_fc_distribution.html
icode-2/outputs/EEG源定位/EEG源定位图/data(1)_source_map.html
icode-2/outputs/EEG源定位/全球功率时间曲线图/data(1)_source_time_course.html
icode-2/outputs/EEG源定位/源活动功率谱密度图/data(1)_source_psd_analysis.html
icode-2/outputs/EEG源定位/激活强度分布直方图/data(1)_source_intensity_hist.png
icode-2/outputs/EEG源定位/脑区激活 TOP15 柱状图/data(1)_region_activation_bar.html
icode-2/outputs/fMRI功能连接/3D交互式功能连接脑网络图/rest_connectivity.html
icode-2/outputs/fMRI功能连接/全窗口连接矩阵npy文件/rest_sliding_window_conn_matrices.npy
icode-2/outputs/fMRI功能连接/全脑功能连接矩阵/rest_connectivity_heatmap_full.html
icode-2/outputs/fMRI功能连接/多时间窗口功能连接热力图/rest_connectivity_heatmap.html
icode-2/outputs/fMRI功能连接/正负功能连接比例饼图/rest_pos_neg_pie.html
icode-2/outputs/fMRI功能连接/滑动窗口功能连接动态指标图/rest_sliding_window_metrics.html
icode-2/outputs/fMRI功能连接/滑动窗口动态指标csv文件的文件夹/rest_sliding_window_metrics.csv
icode-2/outputs/fMRI激活定位/fMRI脑区激活定位图/mprage_activation.html
icode-2/outputs/fMRI激活定位/fMRI脑区激活总结/mprage_activation_summary.json
icode-2/outputs/fMRI激活定位/激活强度分布直方图/mprage_hist.html
icode-2/outputs/fMRI激活定位/阈值-激活体素数曲线/mprage_curve.html
