InteractiveChartCard,
CustomWebEngineView {
    background-color: rgb(249, 249, 249);
}

#web_view{
    background-color: transparent;
}


#FlyoutView QLabel,
#FlyoutView CaptionLabel {
    font-weight: bold;
}

